*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100vw;
}
html{
    width: 100vw;
}
#titlebar {
    position: relative;
    height: 55px;
    font-size: 13px;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100vw;
}
#titlebar:last-child [title="Sign in"] {
    color: white;
    width: 95px;
    height: 35px;
    background-color: rgb(114, 114, 240);
    border-radius: 4px;
    border: 0;
}
#titlebar:last-child [title="Sign in"]:hover {
    background-color: #6b60df;
    box-shadow: 0 0 3px gray;

}
#item {
    text-align: center; 
    margin: 8px;
}
.item3{
    align-self: center;
    height: 40px;
    width: 40px;
    
}
.item3 #menu-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}
.item3:hover {
    background-color: rgb(243, 243, 243);
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
.text-item {
    text-decoration: none;
    color: black;
}
.text-item:hover{
    text-decoration: underline;
}
#logo {
    top: 48px;
    height: 35vh;
    text-align: center;
    position: relative;
    min-height: 130px;
    width: 100vw;
}
#logo img {
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: 70px;
    min-height: 100px;
}
#search-field{
    height: 142px;
    width: 100vw;
    min-height: 100;
}
#text-field{
    position: relative;
    margin: auto;
    text-align: center;
    width: 582px;
    height: 46px;
    border-radius: 40px;
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: space-around;
}
#text-field input {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 483px;
    height: 27px;
    border: 0px solid white;
    outline: none;
}
#text-field:hover{
    box-shadow: 0px 0px 5px  rgb(200, 200, 200);
}
#search-img {
    position: relative;
    width: 15px;
    height: 15px;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);   
}
#lens-img {
    position: relative;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;   
}
#button-box{
    margin-top: 18px;
    height: 54px;
    width: 350px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
.button-1 {
    width: 140px;
    height: 34px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 11px ;
    margin-left: 4px;
    margin-right: 4px;
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    border: 0;
    font-size: 0.859rem;
    color: rgb(56, 56, 56);
}
.button-1:hover {
    border: 1px solid rgb(200, 200, 200);
    cursor: pointer;
}
#language {
    display: flex;
    width: 100vw;
    height: 52px;
    align-items: center;
    justify-content: center;
}
.lan {
    padding: 3px;
    line-height: 28px;
    font-size: small;
    text-decoration: none;
}
#lan-box .lan {
    color:#1a0dab;
}
#lan-box:hover {
    text-decoration: underline;
}
#footer-all{
    position: absolute;
    bottom: 48px;
    right: 0;
    left: 0;
}
#sri-lanka {
    height: 48px;
    background-color: rgb(237, 237, 237);
    padding: 15px 30px;
    font-size: 15px;
    left: 0;
    right: 0;
    color: rgb(137, 137, 137);
    font-size: 14px;
    border-bottom: 1px solid rgb(211, 211, 211);
    width: 100vw;
}
#footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    left: 0;
    right: 0;
    background-color: rgb(237, 237, 237);
    height: 48px;
    width: 100vw;
    
}
#footer-1{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#footer-2{
    display: flex;
    list-style: none;
    justify-content: center;
    min-height: 30px;
    align-items: center;
}
#footer-1 li a{
    padding: 10px;
    color: gray;
    text-decoration: none;
    font-size: 14px;
}
#footer-2 li a{
    padding: 15px ;
    color: gray;
    text-decoration: none;
    font-size: 14px;
}
#footer-2 li a:hover{
    text-decoration: underline;
}
#footer-1 li a:hover {
    text-decoration: underline;
}
#footer-2:last-child{
    margin-right: 40px;
}

#footer-1:first-child{
    margin-left: 40px;
}
p {
    color: red;
    position: absolute;
    right: 20px ;
    bottom: 150px;
    font-weight: bold;
    
}
@media all and (width < 665px){
    #footer{
        height: 90px;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    #text-field{
        width: 90vw;
    }
    #text-field input {
        width: 70vw;
    }
    @media all and (height < 500px){
        #footer-all {
            position: static;
        }
    }
}